.list{
    .title{
        padding: 10px;
        display: flex;
        font-weight: bold;
        flex-grow: 1;
        border-bottom: 1px solid rgb(219, 219, 219);
    }
}

.button{
    border: none;
    min-width: 25px;
    height: 25px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.blue{
    color: white;
    background-color: #006fff;
}

.red{
    color: white;
    background-color: #b70b0b;
}

.grey{
    color: rgb(43, 43, 43);
    background-color: #eeeeee;
}

.pager{
    margin-top: 30px;
    text-align: center;
}

.arrow-up:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 8px 2px 8px;
    border-color: #303030 transparent transparent transparent ;  
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.arrow-down:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 8px 12px 8px;
    border-color: transparent transparent #303030  transparent ;  
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 3px;
}