<div class="list">
    <div class="title">
        <span style="flex-basis: 8%; text-align: center;">#</span>
        <span style="flex-basis: 40%;">Title</span>
        <span style="flex-basis: 15%;">Assignee</span>
        <div style="flex-basis: 15%; text-align: center;" (click)="onStatusSort()">
            <span [ngClass]="ascending ? 'arrow-up' : 'arrow-down'">Status</span>
        </div>
        <span style="flex-basis: 22%; text-align: center;">Actions</span>
    </div>

    <ng-container *ngFor="let todoItem of shownList">
        <app-todo-item [todoItem]="todoItem" [user]="getUser(todoItem.userId)" (changeData)="onChangeData($event, todoItem)" ></app-todo-item>
    </ng-container>

    <div class="pager">
        <button class="button" (click)="onChangePage(-1)" [disabled]="pagerNumber === 0">Prev</button>
        <ng-container *ngFor="let pagerItem of pagerList, let i = index">
            <button [ngClass]="pagerNumber === i ? 'button blue' : 'button'" (click)="onSelectPage(i)">{{pagerItem}}</button>
        </ng-container>
        <button class="button" (click)="onChangePage(1)" [disabled]="pagerNumber === pagerSize - 1">Next</button>
    </div>
</div>

<app-edit-modal id="edit-modal">
    <div style="margin-bottom: 10px;">Title</div>
    <div style="margin-bottom: 10px;">
        <input type="text" style="width: 352px;" #editText/>
    </div>
    <div style="margin-bottom: 30px;">
        <input type="checkbox" name="completed" #checkbox>
        <label for="checkbox"> Completed</label><br>
    </div>
    <div style="text-align: right;">
        <button class="button blue"(click)="onSaveTodo()">Save</button>
        <button class="button red" (click)="onModalClose()">Cancel</button>
    </div>
</app-edit-modal>