.list-item{
    padding: 10px;
    display: flex;
    flex-grow: 1;
}

.button{
    border: none;
    width: 100px;
    height: 25px;
    color: white;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.blue{
    background-color: #006fff;
}

.red{
    background-color: #b70b0b;
}