<div class="list-item">
    <span style="flex-basis: 8%; text-align: center;">{{todoItem.id}}</span>
    <span style="flex-basis: 40%;">{{todoItem.title}}</span>
    <span style="flex-basis: 15%;">{{user.name}}</span>
    <span style="flex-basis: 15%; text-align: center;">{{(todoItem.completed ? 'Done':'In Progress')}}</span>
    <div style="flex-basis: 22%; text-align: center;">
        <button class="button blue" (click)="onChangeData(true)">Edit</button>
        <button class="button red" (click)="onChangeData(false)">Delete</button>
    </div>
</div>

