﻿app-edit-modal {
    display: none;

    .app-edit-modal {
        position: fixed;
        top: 30%;
        left: 40%;
        z-index: 1000;
        overflow: auto;

        .app-edit-modal-body {
            padding: 20px;
            background: #fff;
            margin: 40px;
        }
    }

    .app-edit-modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.75;
        z-index: 900;
    }
}

body.app-edit-modal-open {
    overflow: hidden;
}
